[flake8]
max-line-length = 88
extend-ignore = 
    E203,
    W503,
    E501,
    E122,
    E261,
    E266,
    E221,
    E302,
    E303,
    E265,
    W292,
    W293,
    W391
exclude =
    .git,
    __pycache__,
    project_code/__pycache__,
    UserData/,
    sandboxenv/,
    devsandboxenv/
